#clanek {
    width: 500px;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: auto auto;
    border: 1px solid grey;
    background-color: #e8e8e8;
    box-shadow: 5px 5px 10px rgb(40, 40, 40);
}

#foto {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 1;
    margin: 10px;
}

header {
    font-size: larger;
}

section {
    padding: 25px 0;
}