<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Ukol poslední na vlastní grafiku pozadí">
        <meta name="keywords" content="layout, programování, html, css">
        <meta name="author" content="Petr Žůček">
        <link rel="stylesheet" href="lastukol.css" type="text/css">
        <title>ukol63_layout</title>
    </head>
    <body>
        <header>
            <div id="logo">
                <img src="logo.png" alt="logo" class="okraj">
                <p class="okraj">Webdesign Žůček</p>
            </div>
            <nav>
                <ul>
                    <li>O nás</li>
                    <li>Webtvorba</li>
                    <li>Aplikace</li>
                    <li>Grafika</li>
                    <li>Reference</li>
                    <li>Kontakt</li>
                </ul>
            </nav>
            <h1>O nás</h1>
        </header>
        <section>
            <p>Jsme renomovaná firma, zabývající se tvorbou webových stránek na zakázku.</p>
            <p>Nabízíme tvorbu statických i dynamických webových prezentací, vizitek a katalogů podle grafického návrhu zákazníka nebo také s možností kompletního vytvoření grafického návrhu.</p>
            <article>
                <header><h2>Proč si vybrat zrovna nás?</h2></header>
                <section>
                    <ul>
                        <li>Jednoduchý design</li>
                        <li>Rychlá tvorba i nasazení</li>
                        <li>Nízká cena</li>
                        <li>Kvalitní reference</li>
                        <li>Férový přístup</li>
                    </ul>
                </section>
            </article>
        </section>
    </body>
    <footer>
        <p>Poslední aktualizace 42.10.2022</p>
        <p id="foot">&copf;Petr Žůček 2022, ITnetwork.cz</p>
    </footer>
</html>
