h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

img {
    border-radius: 30px;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

section>p {
    padding-bottom: 30px;
}

.leave-message-container {
    background-color: rgb(238, 238, 183);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(158, 8, 8);
    color: white;
    padding:10px;
}

textarea {
    display:flex;
    margin: 20px auto 0px auto;
    width: 60%;
}

body {
    max-width: 960px;
    margin: 0 auto;
    min-height: 100vh;
}